*{
	font-family: Bevan;
}

body {
background-color: rgba(44, 62, 80, 0.6 );
background-image: url('metal.jpg');
background-position: center;
background-repeat: repeat;
}

.menu{
	width: 20%;
	height: 430px;
	float: left;
	margin-left: 60px; 
	margin-top: 50px;
	border-radius: 40px;
	padding: 40px 20px;
	background-image: url('pattern.png');
	text-align:center;
}

.start{
	width: 120px;
	height: 50px;
	font-size: 30px;
	margin: 10px;
	margin-bottom: 30px;
	border: none;
	border-radius: 10px;
	color: #1C1C1C; /*dark gray*/
	text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 1px 3px rgba(000,000,000,0.3);
	/*metal background*/
	background-image: 
	  -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
	  -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
	  -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
	  -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
	  
	  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
	  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
	  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
	  
	  -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,60%,1) 5%, hsla(0,0%,55%,1) 30%, hsla(0,0%,45%,1) 100%);
}

.start:active{
	color: #424242;
	background: -webkit-radial-gradient(circle, #ff003c, #2F2727);
}

.input{
	/*margin: 30px;*/
}

.playContainer{
	width: 55%;
	float: left;
	margin-top: 50px;
	margin-left: 120px;
	border-radius: 40px;
	padding: 0px;
	background-image: url('pattern.png');
}

.playField{
	height: 400px;
	padding-top: 40px;
}

.playField div{
	height: 200px;
	margin: 0 auto;
	text-align: center;
}

div > h1{
	font-size: 70px;
	letter-spacing: 5px;
	width: 300px;
	margin: 20px auto;
	/*when add text shadow, it covers the background image and the color does not show*/
	/*text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72; simple text shadow*/
  /*text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;*/
}

/*define the color of the quiz text*/
h1.red {
	background-image: -webkit-radial-gradient(circle, #f7201a, #2F2727); /*its color, gray*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.blue {
	background-image: -webkit-radial-gradient(circle, #1a82f7, #2F2727); /*its color, gray*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.green {
	background-image: -webkit-radial-gradient(circle, #82f71a, #2F2727); /*its color, gray*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.yellow {
	background-image: -webkit-radial-gradient(circle, #f1f71a, #2F2727); /*its color, gray*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.purple {
	background-image: -webkit-radial-gradient(circle, #b614c0, #2F2727); /*its color, gray*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul{
	list-style: none;
	margin-left: -20px;
}

.color{
	display: inline;
	margin: 20px;
}
.color button{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	color: #1C1C1C; /*dark gray*/
	font-size: 25px;
	border: none;
	text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 1px 3px rgba(000,000,000,0.3);

	/*metal background*/
	background-image: 
	  -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
	  -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
	  -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
	  -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
	  
	  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
	  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
	  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
	  
	  -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,60%,1) 5%, hsla(0,0%,55%,1) 30%, hsla(0,0%,45%,1) 100%);

}

/*remove the blue border on buttons*/
button:focus{
	outline:0 !important;
}

.color button span{
	font-size: 14px;
	color: #1C1C1C; /*dark gray*/
}

/*when button is pressed, change the color*/
ul .selected >.red{
	background: -webkit-radial-gradient(circle, #f7201a, #2F2727); /*its color, gray*/
}

ul .selected > .blue{
	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
}

ul .selected > .green{
	background: -webkit-radial-gradient(circle, #82f71a, #2F2727);
}

ul .selected > .yellow{
  background: -webkit-radial-gradient(circle, #f1f71a, #2F2727);
}

ul .selected > .purple{
	background: -webkit-radial-gradient(circle, #b614c0, #2F2727);
}

